body {
background-image: url("Background.jpeg");
font-family: sans-serif;
}

h1 {
 font-size: 50px;
 font-family: sans-serif;
 text-align: center;
 border-radius: 30px;
}

h1, p, nav,footer, pre {
color: black;
background-color: beige;
border: 4px solid blue;
width: auto;
}

aside {
width: 160px;
color: black;
background-color: beige;
border: 4px solid blue;
}

.contenedor-juego {
text-align: center;
}
